@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
h1 {
  font-family: Shrikhand, Roboto, sans-serif;
}

body,
html {
  font-family: Roboto, sans-serif;
}

/* ==== NORMALIZE ==== */
/****** Elad Shechter's RESET *******/
/* box sizing border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

/* ============= VARIABLES ============= */
/* === couleurs === */
.header {
  z-index: 500;
  height: 63px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.212);
}
.header__logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============= VARIABLES ============= */
/* === couleurs === */
.home .header {
  position: fixed;
  background-color: #fff;
  right: 0;
  left: 0;
  top: 0;
  height: 83px;
}
.home .main {
  padding-top: 80px;
}
.home .main__locationInfo {
  height: 50px;
  margin-top: 4px;
  background: #e2e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
}
.home .main__locationInfo .locationInfo__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 15px;
}
.home .main__locationInfo .locationInfo__content p {
  font-weight: bold;
  margin-left: 15px;
}
.home .main__heroBanner {
  background: #f6f6f6;
}
.home .main__heroBanner .content {
  margin: 0 25px;
  padding: 40px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .main__heroBanner .content__title {
  font-weight: bold;
  margin: 0px 30px 20px;
}
.home .main__heroBanner .content__paragraph {
  color: #353535;
  margin-bottom: 30px;
}
.home .main__heroBanner .content__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, #ee8fe9, #eb7fe2, #e86edb, #c160dc, #ac5bdc, #9356dc, #9356dc);
  box-shadow: 2px 10px 21px -4px #a8a8a8;
  -webkit-box-shadow: 2px 10px 21px -4px #a8a8a8;
  -moz-box-shadow: 2px 10px 21px -4px #a8a8a8;
  color: #fff;
  font-weight: 580;
  padding: 20px 0;
  border-radius: 50px;
  width: 230px;
}
.home .main__howItWorks .content {
  margin: 0 20px;
  padding: 50px 0;
}
.home .main__howItWorks .content__title {
  margin-bottom: 30px;
  font-weight: bold;
}
.home .main__howItWorks .content__list {
  counter-reset: my-awesome-counter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .main__howItWorks .content__listItem {
  margin: 0 0 1.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
  background: #f6f6f6;
  height: 65px;
  width: 97%;
  max-width: 350px;
  padding: 0 20px;
  border-radius: 20px;
  border: 1px solid rgba(221, 221, 221, 0.247);
  box-shadow: 2px 10px 21px -4px #a8a8a8;
  -webkit-box-shadow: 2px 10px 21px -4px #a8a8a8;
  -moz-box-shadow: 2px 10px 21px -4px #a8a8a8;
}
.home .main__howItWorks .content__listItem span {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 10px;
  color: #7a7a7a;
  font-size: 1.2rem;
  font-weight: bold;
}
.home .main__howItWorks .content__listItem span p {
  color: #000;
  font-size: 1rem;
  margin-left: 15px;
}
.home .main__howItWorks .content__listItem-active {
  background: #F5EDFF;
}
.home .main__howItWorks .content__listItem-active span {
  color: #9356DC;
}
.home .main__howItWorks .content__listItem-active span p {
  color: #000;
}
.home .main__howItWorks .content__listItem::before {
  content: counter(my-awesome-counter);
  --size: 25px;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  background: #9356DC;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: -13px;
  transform: translateY(-50%);
  text-align: center;
  border-radius: 50%;
}
.home .main__restaurants .content {
  margin: 0 20px;
}
.home .main__restaurants .content__title {
  margin-bottom: 30px;
  font-weight: bold;
}
.home .main__restaurants .content__cards {
  margin-bottom: 50px;
}
.home .main__restaurants .content__cards .card {
  height: 280px;
  margin-bottom: 20px;
  position: relative;
  background-color: white;
  box-shadow: 2px 10px 21px -4px #a8a8a8;
  -webkit-box-shadow: 2px 10px 21px -4px #a8a8a8;
  -moz-box-shadow: 2px 10px 21px -4px #a8a8a8;
  border-radius: 15px;
}
.home .main__restaurants .content__cards .card__img {
  height: 100%;
  width: 100%;
}
.home .main__restaurants .content__cards .card img {
  border-radius: 15px 15px 0 0;
  height: 70%;
  width: 100%;
  object-fit: cover;
}
.home .main__restaurants .content__cards .card__overlay {
  height: 30%;
  display: flex;
}
.home .main__restaurants .content__cards .card__overlay .overlay__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  margin-left: 20px;
}
.home .main__restaurants .content__cards .card__overlay .overlay__title {
  font-weight: bold;
  margin-bottom: 10px;
}
.home .main__restaurants .content__cards .card__overlay .overlay__right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 0.2;
  margin-right: 20px;
}
.home .main__restaurants .content__cards .card__overlay .overlay__right input[type=checkbox] {
  opacity: 0;
  position: relative;
}
.home .main__restaurants .content__cards .card__overlay .overlay__right input[type=checkbox] + label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  position: absolute;
  stroke: #000;
  stroke-width: 25px;
  fill: #fff;
}
.home .main__restaurants .content__cards .card__overlay .overlay__right input[type=checkbox]:checked + label {
  fill: url("#lgrad");
  animation: heart 0.7s ease-in-out;
  stroke-width: 5px;
}
@keyframes heart {
  0% {
    fill-opacity: 0;
    transform: scale(1);
  }
  50% {
    fill-opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    fill-opacity: 1;
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
