.loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    @include flex-center;
    animation: loadingSpinner 3s alternate;
    animation-iteration-count: 1;
    background: rgb(255, 255, 255);
    opacity: 0;
    z-index: -1;

    img {
        position: absolute;
        width: 50px;
        height: 50px;
        animation: lds-dual-ring 1.4s ease-in-out;
    }

    &::before {
        content: "Chargement...";
        position: absolute;
        top: 58%;
        font-weight: bold;
        font-size: 1.2rem;
        color: #000;
    }
}

.lds-dual-ring {
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(206, 35, 206);
    border-color: rgb(182, 0, 182) transparent rgb(233, 19, 233) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}