@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gradient-button {
    background-image: linear-gradient(to right bottom, #ee8fe9, #eb7fe2, #e86edb, #c160dc, #ac5bdc, #9356dc, #9356dc);
}

@mixin gradient-heart {
    color: linear-gradient(to right bottom, #ee8fe9, #eb7fe2, #e86edb, #c160dc, #ac5bdc, #9356dc, #9356dc);
}

@mixin box-shw {
    box-shadow: 2px 10px 21px -4px rgba(168, 168, 168, 1);
    -webkit-box-shadow: 2px 10px 21px -4px rgba(168, 168, 168, 1);
    -moz-box-shadow: 2px 10px 21px -4px rgba(168, 168, 168, 1);
}