/* ============= VARIABLES ============= */
/* === couleurs === */
$color-primary: #9356DC;
$color-secondary: #99E2D0;
$color-bg: #f6f6f6;

//colors linear-gradient; 
$color-gradient-1: #9356DC;
$color-gradient-2: #FF79DA;
$color-gradient-3: #F2F2F2;